body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fondo{
  background: url(./img/patternbg2.svg);
  background-size: cover;
  
}


.style-footer{
  background-color: rgba(0, 0, 0, 0.2);

}

